<div *ngIf="getCurrentUser(); else loginRequired">
  <mat-list>
    <h3 mat-subheader>{{ getCurrentUser().username }}'s tasks TODO</h3>
    <mat-list-item *ngFor="let todo of getMyTodos()">
        <mat-icon mat-list-icon>turned_in_not</mat-icon>
        <h4 mat-line>{{todo.title}}</h4>
        <p mat-line>id={{todo.id}} </p>
    </mat-list-item>
  </mat-list>
  <button mat-flat-button color="warn" (click)="onLogout()">Logout</button>
</div>

<ng-template #loginRequired>
  <div class="login-div">
    <p>Please enter your login to authenticate</p>
    <form (submit)="onLogin()">
      <mat-form-field>
        <input matInput [formControl]="login" placeholder="Login" required />
        <mat-error *ngIf="login.invalid">Enter a valid login</mat-error>
      </mat-form-field>
      <button mat-stroked-button type="submit">Login</button>
    </form>
    <!-- Remote logins -->
    <!-- Bret: id=1 -->
    <!-- Antonelle: id=2 -->
    <!-- Samantha: id=3-->
  </div>
</ng-template>
