<div>
  <p *ngIf="selectedTodoId">Selected todo id: {{selectedTodoId}}</p>
</div>

<div>
  <button id="addTodoButton" (click)="addTodo()" >Add TODO</button>
</div>

<div>
  <p>All things todo:</p>
  <select [(ngModel)]="selectedTodoId">
    <option *ngFor="let todo of todos" [value]="todo.id">{{todo.title}}</option>
  </select>
</div>

<app-todo *ngIf="selectedTodoId" [todo]="getSelectedTodo()"></app-todo>

<div>
  <p>Completed todos:</p>
  <ul>
    <li *ngFor="let todo of getCompletedTodos()" value="todo.id">{{todo.title}}</li>
  </ul>
</div>
