<div>
  <p *ngIf="selectedTodoId">Selected todo id: {{selectedTodoId}}</p>
</div>

<div>
  <button id="addTodoButton" (click)="addTodo()" >Add TODO</button>
</div>

<div>
  <p>All things todo:</p>
  <select [(ngModel)]="selectedTodoId">
    <option *ngFor="let todo of todos" [value]="todo.id">{{todo.title}}</option>
  </select>
</div>

<app-todo *ngIf="selectedTodoId" [todo]="getSelectedTodo()"></app-todo>

<div>
  <mat-list>
    <h3 mat-subheader>Completed todos:</h3>
    <mat-list-item *ngFor="let todo of getCompletedTodos()">
        <mat-icon mat-list-icon>check_circle_outline</mat-icon>
        <h4 mat-line>{{todo.title}}</h4>
        <p mat-line>id={{todo.id}} </p>
    </mat-list-item>
  </mat-list>
</div>
