<div>
  <p> Selected task id: {{selectedTodo ? selectedTodo.id : undefined}}</p>
</div>

<mat-form-field>
  <input type="text" placeholder="Select a task" matInput [formControl]="todoInput" [matAutocomplete]="autocomplete">
  <mat-autocomplete #autocomplete="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngFor="let todo of filteredTodos$ | async" [value]="todo">{{todo.title}}</mat-option>
  </mat-autocomplete>
</mat-form-field>
<button mat-stroked-button (click)="onAddTodo()" >Add Todo</button>

<app-todo [todo]="getSelectedTodo()" (taskStateChanged)="onTaskStateChanged($event)" (taskRemoved)="onTaskRemoved($event)"></app-todo>

<mat-list>
  <h3 mat-subheader>Completed tasks:</h3>
  <mat-list-item *ngFor="let todo of getCompletedTodos()">
      <mat-icon mat-list-icon>check_circle_outline</mat-icon>
      <h4 mat-line>{{todo.title}}</h4>
      <p mat-line>id={{todo.id}} </p>
  </mat-list-item>
</mat-list>
